// LCARS -- Fonts

@font-face
  font-family 'lcars'
  src url('../font/HelveticaLTStd-UltraComp.otf') format('opentype')
  font-weight normal
  font-style normal

html
  font-family 'lcars'
  -webkit-font-smoothing antialiased
  user-select none
  
h1
  font-size 270%

h2
  font-size 240%

h3
  font-size 200%

h4
  font-size 180%

h5
  font-size 160%

h6
  font-size 140%

  